<%- include("partials/header.ejs") %>
<% if (locals.message) { %>
  <div id="homeLiveAlertPlaceholder" class="alert-<%- type %>"><%- message %></div>
<% } %>
<div class="container my-5">
  <div class="p-5 text-center bg-body-secondary rounded-3">
    <h1 class="text-body-emphasis">Books I've Read</h1>
    <p class="lead">
      Short reviews and ratings I do for the books I've read. Constantly updating as I read more.
    </p>
  </div>
</div>
<div class="container my-3">
    <div class="row row-cols-2 align-items-top justify-content-between">
        <div class="col-lg-6 col-xl-4">
            <h4>Number of entries: <%- locals.books.length %></h4>
        </div>
        <div class="col-lg-6 col-xl-4">
            <div class="form-select-lg py-0" id="sort-dropdow">
              <form action="/" method="GET">
                <label for="orderBy" class="input-label">Sort By:  </label>
                <select name="orderBy" id="orderBy" onchange="this.form.submit()">
                    <option value="modified_at" <% if (orderBy === 'modified_at') { %>
                     selected
                    <% } %>>Date</option>
                    <option value="rating" <% if (orderBy === 'rating') { %>
                      selected
                     <% } %>>Rating</option>
                </select>
              </form>
            </div>
        </div>
    </div>   
</div>
<div class="container my-3">
    <div class="row">
      <% if (locals.books) { %>
        <% for( let index = 0; index < books.length; index++ ) { %>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <label for="cover-<%-books[index].id%>" class="image img-fluid rounded-start"></label>
                    <img id="cover-<%-books[index].id%>" src="<%- books[index].img_url %>" class="img-fluid rounded-start" alt="book cover" hidden>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <a href="/post?id=<%- books[index].id %>" class="book-title"><h5 class="card-title"><%- books[index].title %></h5></a>
                      <h6 class="card-subtitle book-genre"><%-books[index].author %></h6>
                      <div class="rating"><%- stars[books[index].rating - 1] %></div>
                      <p class="card-text"><%- books[index].review.substring(0, 80) + '...' %></p>
                      <p class="card-text"><small class="text-body-secondary">Last modified: <%- books[index].modified_at %></small></p>
                      <div class="mt-5">
                        <a href="/remove?id=<%- books[index].id  %>" class="card-link">Delete</a>
                        <a href="/edit?id=<%- books[index].id  %>" class="card-link">Edit</a>
                      </div>
                      
                    </div>
                  </div>
                </div>
            </div>
          </div>
        <% } %>
      <% } %>
    </div>
    
</div>

<%- include("partials/footer.ejs") %>