<%- include("partials/header.ejs") %>
<div class="d-flex row justify-content-start align-items-start">
    <div class="col-auto">
        <a class="text-decoration-none" href="/">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"></path>
            </svg>
            Back
        </a>
    </div>
</div>
<div class="container d-flex flex-wrap justify-content-around my-5">
    <img src="<%- book.img_url %>" alt="book/cover" width="200px">
    <div class="align-content-center mx-4">
        <h3 class="p-2"><%- book.title %></h3>
        <h4 class="p-2"><%- book.author %></h4>
        <label for="publishYear">Publish Year: </label>
        <p id="publishYear"><%- book.publish_date %></p>
        <label for="isbn">ISBN: </label>
        <p id="isbn"><%- book.code %></p>
        <div class="my-3">
            <label class="form-label" for="ratingStars">Rating</label>
            <div id="rating-stars" class="rating-stars">
                <span id="star1" class="fa fa-star"></span>
                <span id="star2" class="fa fa-star"></span>
                <span id="star3" class="fa fa-star"></span>
                <span id="star4" class="fa fa-star"></span>
                <span id="star5" class="fa fa-star"></span>  
            </div>
        </div>
    </div>
    
</div>

<div class="d-flex justify-content-center my-5">
    <div class="containter">     
            <div class="mb-3">
                <div class="row-cols-1 mb-4">
                    <div class="col">
                        <h2>Review</h2>
                    </div>
                </div>
                <p class="review-text">
                    <%- book.review %>
                </p>
            </div>
            
            <input id="rating" type="hidden" name="rating" value="<%- book.rating %>">
    </div>
</div>

<%- include("partials/footer.ejs") %>